<h1 align="center">Doctors</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Haris%20Azeez.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr hariz azeez</h5>
                          <p class="card-text">Anasthesiology</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Venugopal%20N.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr n venugopal</h5>
                          <p class="card-text">RTD medical officer</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Kiran%20Gopinath.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr kiran gopinath</h5>
                          <p class="card-text">Cardiology</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Madhu%20Sreedharan.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr madhusreedharan</h5>
                          <p class="card-text">General medicine</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Mahadevan%20R.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr mahadevan R</h5>
                          <p class="card-text">General surgien</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Ganesh%20Kumar%20Nair.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr ganesh kumar nair</h5>
                          <p class="card-text">Radiotherapy</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Vimal%20Kumar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr vimal kumar</h5>
                          <p class="card-text">Psychology</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Aneesh%20Raj.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr aneesh raj</h5>
                          <p class="card-text">Physician</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Rajagopalan%20M.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr Rajagopalan m</h5>
                          <p class="card-text">MBBS,MD</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://www.nimshospital.com/assets/img/doctorimages/Dr.%20Amal%20P%20Jose.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr amal p jose</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
